/*.container {*/
/*  @apply w-full max-w-screen-lg px-4 mx-auto;*/
/*}*/

/*a {*/
/*  @apply transition-colors duration-300 ease-in-out hover:text-primary-light;*/
/*}*/

/*a, button, input {*/
/*  outline: none !important;*/
/*}*/
